<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= subject %></title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        </style>
    </head>
    <body>
        <h3 style='font-size: 14px; color: #DE2412;'>
            <b>Hello <%= name %>, </b>your password has been reset!!
        </h3>
        <p>You asked us to reset your password since you forgot your one. Checkout your new password:</p>
        <p style='margin: 10px 0; height: 30px; padding: 15px 10px; color: #efeeef; background: #121212; text-align: center; font-size: 16px; width: 100%; border: solid 1px #888;'>
            <%= newPassword %>
        </p>
        <br />
        <p style='margin: 10px 0; padding: 15px 10px; background: #efeeef; color: #121212; font-size: 12px;'>
            Please keep in mind this is your new password. This password is now encrypted and there 
            is no other possibility to recover it than resetting again. 
            Think when you connect to <a href="https://profilart.fr">profilart</a> 
            to change your password with your own one to avoid forgetting password this in the future!
        </p>
        <p>Thank you for using Profilart API!</p>
        <p>Have a nice day!</p>
    </body>
</html>
