{
  "swagger": "2.0",
  "info": {
    "description": "Profilart API swagger.",
    "version": "1.0.5",
    "title": "Profilart API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "contact@profilart.fr"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "profilart.fr",
  "basePath": "/",
  "tags": [
    
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/{uid}/infos": {
      "get": {
        "tags": [
          "infos"
        ],
        "summary": "display artist's infos from RA",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Infos"
            }
          }
        }
      }
    },
    "/{uid}/releases": {
      "get": {
        "tags": [
          "releases"
        ],
        "summary": "display artist's releases from discogs",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Releases"
            }
          }
        }
      }
    },
    "/{uid}/charts": {
      "get": {
        "tags": [
          "charts"
        ],
        "summary": "display artist's charts from Resident Advisor",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Charts"
            }
          }
        }
      }
    },
    "/{uid}/posts": {
      "get": {
        "tags": [
          "posts"
        ],
        "summary": "display artist's post from Timeline API",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Posts"
            }
          }
        }
      }
    },
    "/{uid}/tracks": {
      "get": {
        "tags": [
          "tracks"
        ],
        "summary": "display artist's charts from Resident Advisor",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Tracks"
            }
          }
        }
      }
    },
    "/{uid}/playlist?name={name}": {
      "get": {
        "tags": [
          "tracks"
        ],
        "summary": "display artist's charts from Resident Advisor",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of playlist",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Playlist"
            }
          }
        }
      }
    },
    "/{uid}/events?type={type}": {
      "get": {
        "tags": [
          "charts"
        ],
        "summary": "display artist's charts from Resident Advisor",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "ID of user",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Event type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "jwt",
      "name": "authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Infos": {
      "type": "object",
      "description": "infos data",
      "properties": {
        "name": {
          "type": "string",
          "description": "artist name"
        },
        "realname": {
          "type": "string",
          "description": "artist real name"
        },
        "country": {
          "type": "string",
          "description": "artist country"
        },
        "labels": {
          "type": "array",
          "description": "list of labels where artist figures on",
          "items": {
            "type": "string"
          }
        },
        "website": {
          "type": "string",
          "description": "artist's website"
        },
        "RA": {
          "type": "string",
          "description": "link to resident advisor artist page"
        },
        "facebook": {
          "type": "string",
          "description": "link to facebook page"
        },
        "twitter": {
          "type": "string",
          "description": "link to twitter account"
        },
        "discogs": {
          "type": "string",
          "description": "link to discogs page"
        },
        "soundcloud": {
          "type": "string",
          "description": "link to soundcloud account"
        },
        "picture": {
          "type": "string",
          "description": "picture"
        },
        "bio": {
          "type": "object",
          "description": "bio of the artist",
          "properties": {
            "intro": {
              "type": "string",
              "description": "introduction of the bio"
            },
            "content": {
              "type": "string",
              "description": "detailed content of the bio"
            }
          }
        }
      },
      "xml": {
        "name": "Infos"
      }
    },
    "Tracks": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Stream"
      }
    },
    "Releases": {
      "type": "array",
      "description": "list of releases from discogs",
      "items": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "description": "release discogs's stats",
            "properties": {
              "community": {
                "type": "object",
                "properties": {
                  "in_collection": {
                    "type": "integer",
                    "format": "int64",
                    "description": "how many people have it in collection"
                  },
                  "in_wantlist": {
                    "type": "integer",
                    "format": "int64",
                    "description": "how many people have it in wantlist"
                  }
                }
              }
            }
          },
          "thumb": {
            "type": "string",
            "description": "link to thumb of the artwork"
          },
          "artist": {
            "type": "string",
            "description": "artist name"
          },
          "main_release": {
            "type": "integer",
            "format": "int64",
            "description": "main Discogs release ID"
          },
          "title": {
            "type": "string",
            "description": "release title"
          },
          "role": {
            "type": "string",
            "description": "artist's role"
          },
          "year": {
            "type": "integer",
            "format": "int64",
            "description": "year of release"
          },
          "resource_url": {
            "type": "string",
            "description": "discogs url"
          },
          "type": {
            "type": "string",
            "description": "type"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "ID"
          },
          "label": {
            "type": "string",
            "description": "label"
          },
          "releaseDate": {
            "type": "string",
            "description": "release date"
          },
          "cat": {
            "type": "string",
            "description": "vinyl label cat number"
          },
          "tracklist": {
            "type": "array",
            "description": "tracklist",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "track title"
                },
                "duration": {
                  "type": "string",
                  "description": "track duration"
                },
                "position": {
                  "type": "string",
                  "description": "track order on the tracklist"
                },
                "fullTitle": {
                  "type": "string",
                  "description": "full resolved title incl. remix"
                },
                "stream": {
                  "$ref": "#/definitions/Stream",
                  "description": "track streaming from soundcloud"
                },
                "extraartists": {
                  "type": "array",
                  "description": "list of artists who were working on the track",
                  "items": {
                    "type": "object",
                    "properties": {
                      "join": {
                        "type": "string",
                        "description": "join"
                      },
                      "name": {
                        "type": "string",
                        "description": "artist name"
                      },
                      "anv": {
                        "type": "string",
                        "description": "anv"
                      },
                      "tracks": {
                        "type": "string",
                        "description": "track list"
                      },
                      "role": {
                        "type": "string",
                        "description": "artist role"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "link to discogs track item url"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "track ID"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "xml": {
        "name": "Releases"
      }
    },
    "Stream": {
      "type": "object",
      "description": "track stream infos from soundcloud",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "soundcloud track ID"
        },
        "title": {
          "type": "string",
          "description": "soundcloud track title"
        },
        "date": {
          "type": "string",
          "description": "soundcloud publish date"
        },
        "genre": {
          "type": "string",
          "description": "soundcloud track genre"
        },
        "artwork": {
          "type": "string",
          "description": "soundcloud track artwork"
        },
        "description": {
          "type": "string",
          "description": "soundcloud track description"
        },
        "download": {
          "type": "string",
          "description": "soundcloud track download URL"
        },
        "downloadable": {
          "type": "boolean",
          "description": "true if soundcloud track can be downloaded"
        },
        "taglist": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "soundcloud track tags associated"
          }
        },
        "uri": {
          "type": "string",
          "description": "soundcloud track uri"
        },
        "url": {
          "type": "string",
          "description": "soundcloud track full url"
        },
        "license": {
          "type": "string",
          "description": "soundcloud track license of utilization"
        },
        "stats": {
          "type": "object",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int64",
              "description": "number of counts of the soundcloud track"
            },
            "downloads": {
              "type": "integer",
              "format": "int64",
              "description": "number of downloads of the soundcloud track"
            },
            "favorites": {
              "type": "integer",
              "format": "int64",
              "description": "number of favoritess of the soundcloud track"
            }
          }
        }
      },
      "xml": {
        "name": "Stream"
      }
    },
    "Playlist": {
      "type": "object",
      "description": "playlist from soundcloud",
      "properties": {
        "title": {
          "type": "string",
          "description": "name of playlist"
        },
        "description": {
          "type": "string",
          "description": "description of playlist"
        },
        "genre": {
          "type": "string",
          "description": "main genre of the playlist"
        },
        "artwork": {
          "type": "string",
          "description": "artwork"
        },
        "soundcloud": {
          "type": "string",
          "description": "soundcloud URL of the playlist"
        },
        "taglist": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "list of tags of the playlist"
          }
        },
        "tracks": {
          "type": "array",
          "description": "list of soundcloud tracks in the playlist",
          "items": {
            "$ref": "#/definitions/Stream"
          }
        }
      },
      "xml": {
        "name": "Playlist"
      }
    },
    "Posts": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "post ID"
          },
          "authorId": {
            "type": "string",
            "description": "UID"
          },
          "title": {
            "type": "string",
            "description": "post title"
          },
          "content": {
            "type": "string",
            "description": "post content"
          },
          "illustration": {
            "type": "string",
            "description": "URL to the image illustring the post"
          },
          "subtitle": {
            "type": "string",
            "description": "post subtitle"
          },
          "createdAt": {
            "type": "string",
            "description": "post creation date"
          }
        }
      }
    },
    "Charts": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Resident Advisor chart ID"
          },
          "date": {
            "type": "string",
            "description": "date of publication of the Resident Advisor chart"
          },
          "rank": {
            "type": "string",
            "description": "rank in the resident advisor charts list of the artist"
          },
          "tracks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "track ID"
                },
                "artist": {
                  "type": "string",
                  "description": "artist name of the track"
                },
                "title": {
                  "type": "string",
                  "description": "track title"
                },
                "label": {
                  "type": "string",
                  "description": "label where the track is released"
                },
                "remix": {
                  "type": "string",
                  "description": "remix name (if remixed)"
                },
                "cover": {
                  "type": "string",
                  "description": "url of the cover picture"
                },
                "RA_link": {
                  "type": "string",
                  "description": "link to resident advisor track information page"
                }
              }
            }
          }
        }
      }
    },
    "Events": {
      "type": "array",
      "description": "list of artist's events",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "resident advisor's event ID"
          },
          "venueId": {
            "type": "string",
            "description": "resident advisor's venue ID"
          },
          "date": {
            "type": "string",
            "description": "event date"
          },
          "country": {
            "type": "string",
            "description": "country where event takes place"
          },
          "area": {
            "type": "string",
            "description": "area where event takes place"
          },
          "areaId": {
            "type": "string",
            "description": "resident advisor's ID of area where event takes place"
          },
          "title": {
            "type": "string",
            "description": "name of the event"
          },
          "address": {
            "type": "string",
            "description": "address of the event"
          },
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Mapbox ID of the location"
              },
              "address": {
                "type": "string",
                "description": "address resolved by mapbox"
              },
              "position": {
                "type": "array",
                "description": "position resolved by mapbox of the place defined in resident advisor's event page",
                "items": {
                  "type": "number"
                },
                "maxItems": 2,
                "minItems": 2
              }
            }
          },
          "lineup": {
            "type": "array",
            "description": "list of artists playing on the lineup of the event",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "time": {
            "type": "object",
            "properties": {
              "begin": {
                "type": "string",
                "description": "time when event begins"
              },
              "end": {
                "type": "string",
                "description": "time when event ends"
              }
            }
          },
          "cost": {
            "type": "string",
            "description": "price at the entrance"
          },
          "promoter": {
            "type": "string",
            "description": "promoter name"
          },
          "links": {
            "type": "object",
            "description": "links provided with event",
            "properties": {
              "event": {
                "type": "string",
                "description": "link to event page on Resident Advisor"
              },
              "venue": {
                "type": "string",
                "description": "link to promoter page on Resident Advisor"
              }
            }
          },
          "flyer": {
            "type": "string",
            "description": "URL to the image representing the flyer of the event"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}